{% include tracking.html %} 

<div class="header">
    <a href="resume.pdf" class="download-btn" >
        <i class="fas fa-download"></i> Download PDF
    </a>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
    .header {
        font-family: Arial;
        background-color: #303133;
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .download-btn {
        display: block;
        color: #fff;
        background-color: #303133;
        padding: 15px 15px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

    .download-btn i {
        margin-right: 5px;
    }

    .download-btn:hover {
        background-color: #0056b3;
    }

  
</style>